<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mzc5649/CDN/bulma-0.9.0/css/bulma.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mzc5649/CDN/element-ui@2.13.1/lib/theme-chalk/index.css">
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/gh/mzc5649/CDN/vue/2.6.11/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mzc5649/CDN/typerwriterJS/1.0.0/typewriter.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mzc5649/CDN/axios@0.20.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mzc5649/CDN/jquery@1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mzc5649/CDN/element-ui@2.13.1/lib/index.js"></script>
</head>
<body>
<div id="index">
    <div id="header"></div>
    <!--section-->
    <section id="section" class="hero bg-rainbow">
        <div class="hero-body">
            <div class="container">
                <div style="font-size: 30px">程序员社区</div>
                <span style="font-size: 20px" id="typerWriter"></span>
            </div>
        </div>
    </section>
    <div class="container is-fluid">
        <template v-for="(item,index) in bbsClassifyData">
            <div :key="index">
                <div style="height: 50px;line-height: 50px;font-size: 25px;">
                    <a :href="'thread.html?cid='+item.cid">::{{item.cName}}::</a>
                </div>
                <el-row :gutter="20">
                    <template v-for="(item1,index1) in item.bbsSections">
                        <el-col :span="4">
                            <el-card shadow="hover" :body-style="{ padding: '0px'}">
                                <img :src="item1.sImg" class="image"/>
                                <div style="padding: 14px;">
                                    <div style="font-size: 20px">{{item1.sName}}</div>
                                    <div style="display: flex;justify-content: flex-end">
                                        <el-link :href="'thread.html?sId='+item1.sId" target="_blank">进入</el-link>
                                    </div>

                                </div>
                            </el-card>
                        </el-col>
                    </template>
                </el-row>
            </div>
        </template>
    </div>
</div>
</body>
<script>
    new Vue({
            el: '#index',
            data() {
                return {
                    bbsClassifyData: []

                }
            },
            created() {
                let that = this;
                //数据获取
                axios.get("http://localhost:8888/classify")
                    .then(function (response) {
                        that.bbsClassifyData = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            mounted() {
                let that = this;
                //打字机效果
                const typerWriterDom = document.getElementById("typerWriter");
                const typeWriter = new Typewriter(typerWriterDom, {
                    loop: false,
                    deleteSpeed: 500
                });
                typeWriter
                    .typeString("-世界因我而精彩")
                    .pauseFor(1000)
                    .deleteChars(4)
                    .pauseFor(1000)
                    .typeString("你我而精彩")
                    .start();
            }

        }
    );
    $.get({
        url: './header.html',
        cache: true,
        async: false,
        success: function (html) {
            $("#header").html(html);
        }
    });
</script>
<style>
    a {
        color: black;
    }

    .image {
        width: 100%;
        height: 150px;
        display: block;
    }
</style>

</html>
